@import url('https://fonts.googleapis.com/css?family=Raleway:regular,bold,italic&subset=latin,latin-ext');

h3, p {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  color: #fff;
}

.text-underlined h3 {
  /* text-decoration: underline; */
  text-transform: uppercase;
  margin-top: 1em;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color:#099;
  color: #fff;
  font-size: 1em;
  /* font-weight: bold; */
  box-sizing: border-box;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

input {
  font-size: 1em;
  color: #123;
  padding: 0.3em;
  border-radius: 0.5em;
  margin-top: 0.4em;
  margin-bottom: 0.7em;
  width: 11em;
}

input:nth-child(1) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

input[type="submit"] {
  background-color: #009900;
  color: #fff;
  font-weight: bold;
}

input.empty::placeholder {
  color: #ff0055;
}

.error {
  color: #fff;
  background-color: #333;
  border-radius: 0.5em;
  padding: 0.2em 0.4em;
}

.form-selector {
  display: flex;
  justify-content: space-around;
  width: 86%;
  margin: 0 auto;
}

.cal {
  background-color: #fff;
  border-radius: 0.5em;
  width: 90%;
}

.user-table {
  /* border: 1px solid; */
  /* padding: 0.1em; */
  box-shadow: 7px 7px 7px 7px #123;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.user-table div {
  display: flex;
  /* justify-content: space-evenly; */
  /* border: 1px solid; */
  padding: 0.3em;
  /* border-radius: 0.5em; */
  /* margin-bottom: 0.3em; */
}

.user-table span {
  flex-basis: 20%;
  overflow: auto;
}

/* .user-table span:nth-child(1),  */
.user-table span:nth-last-child(3), .user-table span:nth-last-child(1) {
  flex-basis: 10%;
  flex-shrink: 2;
}

.user-table div:nth-child(1) {
  background-color: #000;
  color: #fff;
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.6em 0;
}

.user-table div:nth-child(even) {
  background-color: #fff;
  color: #123;
}

.no-users {
  text-align: center;
  padding: 0 20%;
}


.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  margin-bottom: 1.2em;
}

.links div {
  width: 5em;
  display: flex;
  justify-content: space-evenly;
}

.links a {
  color: #fff;
}

.btn:hover {
  color: #000;
}

hr {
  border: 1px solid #8b8889;
}

.logo {
  background-color: #fff;
}

.fb {
  background-color: #3b5998;
  border-radius: 0.2em;
  /* padding: 0.1em; */
}

.twitter {
  background-color: #00acee;
  border-radius: 0.2em;
}

.insta {
  background-color: rgb(240, 12, 12);
  /* color: #3f729b; */
  border-radius: 0.2em;
}

.show-form span {
  display: none;
}

.show-form:hover i {
  display: block;
}


@media screen and (max-width: 500px) {
  body {
    width: 90vw;
  }

.user-table {
  font-size: 0.8em;
}

.user-table div {
  height: 4em;
}

.user-table span {
  flex-basis: 20%;
  flex-shrink: 2;
}

/* .user-table span:nth-child(1) {
  flex-basis: 10%;
  flex-shrink: 2;
} */

.form-selector {
  width: 86%;
  /* margin: 0 5em; */
}

input {
  font-size: 0.7em;
  color: #123;
  padding: 0.3em;
  border-radius: 0.5em;
  margin-top: 0.4em;
  margin-bottom: 0.7em;
  width: 16em;
  height: 3em;
}

input:nth-child(1) {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  margin-bottom: 1em;
}
}

@media screen and (max-width: 350px) {
  body {
    width: 90vw;
    font-size: 1.2em;
  }

input {
  font-size: 0.8em;
}

.user-table {
  font-size: 0.8em;
}



.user-table span {
  flex-basis: 20%;
  flex-shrink: 2;
}

.form-selector {
  width: 86%;
  /* margin: 0 2em; */
}

.date-picker {
  width: 17em;
}
}